<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1bf491c5-4d9a-489f-a87c-75be8bdefc9b" name="RxOrderProposal" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1bf491c5-4d9a-489f-a87c-75be8bdefc9bfileName">RxOrderProposal</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>loc</con:name><con:value>v1/sales/rx-order/61549609-644a-4dec-aea8-e5129d4f194b</con:value></con:property><con:property><con:name>orderid</con:name><con:value>61549609-644a-4dec-aea8-e5129d4f194b</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>